body {
  font-family: "poppins", sans-serif;
  overflow-x: hidden;
  overflow-y: auto;
}
.head {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 98%;
}

i {
  font-size: 16px;
  font-weight: 60px;
  color: gray;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 5px;
}
.link {
  width: 150px;
  padding: 3px;
  color: white;
  border-radius: 4px;
  transition: 0.2s ease-in;
  display:none;
}
.link:hover {
  color: gray;
}
.nav {
  padding: 5px;
}
.addbtn {
  position: fixed;
  bottom: 10px;
  padding: 12px 150px;
  color: white;
  background-color: blue;
  border: none;
  border-radius: 7px;
  font-size: 16px;
  cursor: pointer;
}
.addbtn:hover {
  background-color: white;
  color: blue;
  border: 1px solid blue;
  box-shadow: 0px 4px 8px rgb(110, 110, 241);
}
#welcome {
  line-height: 3px;
  font-size: 22px;
}
.wish {
  font-size: 16px;
  color: gray;
}
.intro {
  margin-top: 20px;
}
.title {
  line-height: 30px;
  font-size: 28px;
}
.search {
  display: none;
  padding: 4px 30px;
  text-align: center;
}
h3 {
  font-size: 20px;
}
.serch {
  display: block;
  border: 1px solid gray;
  outline: none;
  bottom: 4px;
  border-radius: 8px;
  position: relative;
  left: 18px;
  outline: none;
}
.searchbell {
  display: flex;
  width: 50px;
  gap: 18px;
}
.searchbox {
  display: flex;
  justify-content: center;
  position: relative;
  bottom: 3px;
}
.li {
  background-color: rgb(201, 197, 197);
  color: black;
  list-style: none;
  height: 120px;
  width: 350px;
  max-width: 480px;
  text-align: center;
  display: flex;
  border-radius: 9px;
  justify-content: center;
  box-sizing: border-box;
  align-items: center;
}
.del {
  color: beige;
  background-color: blue;
  height: 40px;
  width: 80px;
  border: none;
  border-radius: 6px;
  font-size: 16px;
  font-weight: bold;
}
.del:hover{
  background-color: white;
  color: blue;
  border: 1px solid blue;
  box-shadow: 0px 4px 8px rgb(110, 110, 241);
}
.list {
  display: flex;
  flex-direction: column;
  height: 100vh;
  gap: 10px;
  align-items: center;
  width: 100%;
  padding: 0;
}
.chec {
  text-decoration: line-through;
}
.checkbox {
  height: 18px;
  width: 18px;
  border-radius: 10px;
  border: 1px solid blue;
}
.bar {
  display: none;
}
.humber {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  height: 265px;
  width: 163px;
  background-color: rgb(124, 165, 151);
  position: absolute;
  top: 118px;
  left: 6px;
  cursor: pointer;
}
.theme1 {
  display: none;
  width: 100px;
  background-color: rgb(124, 165, 151);

  position: absolute;
  top: 134px;
  right: 235px;
}
.night {
  background-color: black;
  color: white;
}
.theme {
  display: flex;
  flex-direction: column;
  text-align: center;
  cursor: pointer;
}
.light,
.dark {
  color: black;
  padding: 1px 8px;
}
.dark:hover {
  background-color: white;
}
.light:hover {
  background-color: white;
}
a {
  text-decoration: none;
  color: black;
  width: 200px;
  padding: 4px;
  text-align: center;
}
a:hover {
  background-color: beige;
}
@media (max-width: 375px) {
  .title {
    line-height: 24px;
    font-size: 23px;
  }
  .search {
    padding: 2px 8px;
  }
  .nav {
    margin-top: 9px;
  }
  #welcome {
    font-size: 17px;
  }
  #wish {
    font-size: 15px;
  }
  h3 {
    font-size: 18px;
  }
  .time {
    font-size: 14px;
  }
  .content {
    font-size: 14px;
  }
  .checkbox {
    height: 14px;
    width: 14px;
  }
  .li {
    width: 260px;
    height: 90px;
  }
  .addbtn {
    padding: 12px 105px;
    font-size: 15px;
  }
  .del {
    width: 52px;
    height: 25px;
    font-size: 14px;
    margin-right: 10px;
  }
  .link {
    display: none;
  }
  .humber {
    font-size: 16px;
    width: 150px;
    height: 240px;
  }
}

@media (max-width: 728px) and (min-width: 481px) {
  .title {
    line-height: 30px;
    font-size: 32px;
  }
  .search {
    padding: 4px 48px;
    font-size: 17px;
  }
  .nav {
    margin-top: 9px;
  }
  #welcome {
    font-size: 28px;
  }
  #wish {
    font-size: 18px;
  }
  h3 {
    font-size: 24px;
  }
  .time {
    font-size: 18px;
  }
  .content {
    font-size: 18px;
  }
  .checkbox {
    height: 20px;
    width: 20px;
  }
  .li {
    width: 590px;
    height: 110px;
    font-size: 18px;
  }
  .addbtn {
    padding: 12px 185px;
    font-size: 18px;
  }
  .del {
    height: 50px;
    width: 100px;
  }
  .link {
    display: none;
  }
}

@media (max-width: 1024px) and (min-width: 729px) {
  .search {
    padding: 4px 100px;
    font-size: 17px;
  }
  .nav {
    margin-top: 15px;
  }
  .time {
    font-size: 19px;
  }
  .content {
    font-size: 19;
  }
  .checkbox {
    height: 18px;
    width: 18px;
  }
  .link {
    display: none;
  }

  .li {
    width: 360px;
    height: 110px;
    font-size: 18px;
    flex-basis: 40%;
  }
  .list {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: start;
    height: unset;
    row-gap: 28px;
  }
  .addbtn {
    padding: 12px 185px;
    font-size: 18px;
  }
  .del {
    height: 45px;
    width: 80px;
  }
}

@media (min-width: 1025px) {
  .title {
    font-size: 34px;
    line-height: 40px;
  }
  .welcome {
    font-size: 32px;
  }
  .wish {
    font-size: 24px;
  }
  h3 {
    font-size: 28px;
  }
  i {
    font-size: 20px;
  }
  .search {
    padding: 4px 150px;
    font-size: 17px;
    display: block;
    border-radius: 8px;
    outline: none;
    border: 1px solid gray;
  }

  .li {
    width: 480px;
    height: 110px;
    font-size: 18px;
    flex-basis: 30%;
  }
  .list {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: start;
    height: unset;
    column-gap: 25px;
    row-gap: 28px;
  }
  .addbtn {
    padding: 12px 185px;
    font-size: 18px;
  }
  .del {
    height: 45px;
    width: 80px;
  }
  .searchbell {
    display: none;
  }
  #bar {
    display: none;
  }
  .nav {
    background-color: rgb(16, 16, 53);
    cursor: pointer;
  }
}

