body {
  background-color: white;
  height: 100vh;
  width: 100%;
  font-family: "poppins", sans-serif;
  margin: 0;
  padding: 0;
}
.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
h1 {
  margin-top: 100px;
  font-size: 28px;
}
.slogen {
  margin-top: 50px;
}
h4 {
  font-size: 18px;
  line-height: 1px;
}
p {
  line-height: 1.5px;
  color: rgb(80, 77, 77);
  font-size: 16px;
}
.input {
  width: 100%;
  margin-top: 40px;
  padding: 12px 14px;
  border-radius: 7px;
  font-size: 16px;
  border: 1px solid gray;
  position: relative;
  box-sizing: border-box;
}
.input:focus {
  border: 1px solid blue;
  outline: none;
}

button {
  width: 250px;
  margin-top: 40px;
  padding: 10px 18px;
  background-color: blue;
  color: white;
  border: none;
  border-radius: 7px;
  font-size: 16px;
  cursor: pointer;
}
button:hover {
  background-color: white;
  border: 1px solid blue;
  color: blue;
  box-shadow: 0px 2px 8px rgb(105, 105, 243);
}
@media (max-width: 375px) {
  h1 {
    font-size: 26px;
  }
  h4 {
    font-size: 16px;
  }
  p {
    font-size: 15px;
  }
  button {
    font-size: 14px;
    padding: 8px 16px;
  }
  .input {
    padding: 10px 12px;
  }
}
@media (max-width: 769px) and (min-width: 481px) {
  h1 {
    font-size: 32px;
  }
  h4 {
    font-size: 20px;
  }
  p {
    font-size: 17px;
  }
  button {
    font-size: 17px;
    padding: 12px 20px;
  }
  .input {
    padding: 14px 16px;
  }
}

@media (max-width: 1024px) and (min-width: 770px) {
  h1 {
    font-size: 36px;
  }
  h4 {
    font-size: 24px;
  }
  p {
    font-size: 18px;
  }
  button {
    font-size: 18px;
    padding: 14px 22px;
  }
  .input {
    padding: 14px 24px;
  }
}

@media (max-width: 1440px) and (min-width: 1025px) {
  h1 {
    font-size: 40px;
  }
  h4 {
    font-size: 28px;
  }
  p {
    font-size: 20px;
  }
  button {
    font-size: 20px;
    padding: 14px 24px;
  }
  .input {
    padding: 14px 26px;
  }
}
@media (min-width: 1441px) {
  h1 {
    font-size: 44px;
  }
  h4 {
    font-size: 32px;
  }
  p {
    font-size: 24px;
  }
  button {
    font-size: 24px;
    padding: 16px 28px;
  }
  .input {
    padding: 16px 28px;
  }
}
