body {
  font-family: "poppins", sans-serif;
}
.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  margin-top: 45px;
}
.starend {
  display: flex;
  gap: 8px;
}
#repeat {
  padding: 16px 110px;
  border-radius: 9px;
}
#task {
  padding: 16px 62px;

  border-radius: 9px;
  outline: none;
  border: 1px solid gray;
}

#start,
#end {
  padding: 16px 46px;

  border-radius: 9px;
}
label {
  position: relative;
  bottom: 8px;
  font-weight: bold;
}
#task:focus {
  border: 1px solid blue;
}
footer {
  display: flex;
  justify-content: center;
}

.create {
  padding: 12px 120px;
  color: white;
  background-color: blue;
  border: none;
  border-radius: 7px;
  font-size: 18px;
  position: absolute;
  bottom: 18px;
  cursor: pointer;
}
.create:hover {
  background-color: white;
  color: blue;
  border: 1px solid blue;
  box-shadow: 0px 4px 8px rgb(110, 110, 241);
}

#back:hover {
  cursor: pointer;
  color: blue;
}
@media (max-width: 345px) {
  #task {
    padding: 14px 45px;
  }
  #start,
  #end {
    padding: 14px 34px;
  }
  label {
    font-size: 15px;
  }
  h3 {
    font-size: 17px;
  }
  #repeat {
    padding: 14px 87px;
  }
  .create {
    font-size: 16px;
    padding: 14px 110px;
    position: absolute;
    bottom: 18px;
  }
  .main {
    gap: 40px;
  }
}
@media (max-width: 768px) and (min-width: 481px) {
  #task {
    padding: 16px 120px;
    font-size: 15px;
  }
  #start,
  #end {
    padding: 16px 75px;
    font-size: 15px;
  }
  label {
    font-size: 18px;
  }
  h3 {
    font-size: 24px;
    text-align: center;
    line-height: 1px;
  }
  #repeat {
    padding: 16px 167px;
    font-size: 15px;
  }
  .create {
    font-size: 18px;
    padding: 16px 189px;
    position: absolute;
    bottom: 18px;
  }
}
@media (max-width: 1024px) and (min-width: 769px) {
  #task {
    padding: 17px 160px;
    font-size: 16px;
  }
  #start,
  #end {
    padding: 17px 97px;
    font-size: 16px;
  }
  label {
    font-size: 24px;
  }
  h3 {
    font-size: 28px;
    text-align: center;
    line-height: 1px;
  }
  #repeat {
    padding: 17px 214px;
    font-size: 16px;
  }
  .create {
    font-size: 20px;
    padding: 17px 214px;
    position: absolute;
    bottom: 5px;
  }
  #back {
    font-size: 18px;
    top: 2px;
  }
}
@media (min-width: 1025px) {
  #task {
    padding: 17px 160px;
    font-size: 16px;
  }
  #start,
  #end {
    padding: 17px 97px;
    font-size: 16px;
  }
  label {
    font-size: 24px;
  }
  h3 {
    font-size: 28px;
    text-align: center;
    line-height: 1px;
  }
  #repeat {
    padding: 17px 214px;
    font-size: 16px;
  }
  .create {
    font-size: 20px;
    padding: 17px 214px;
    position: absolute;
    bottom: 5px;
  }
  .main {
    gap: 50px;
  }
  #back {
    font-size: 20px;
    position: relative;
    top: 8px;
    left: 9px;
  }
}
