html{
    font-size: 62.5%;
}
body{
    margin: 0;
    padding: 0;
    font-size: 1.6rem;
    font-family: 'poppins',sans-serif;
}

.main-container{
    margin: 0 auto;
    padding: 20px;
    box-sizing: border-box;
    position: relative;
    width: 100%;
    height: 100vh;

}
.addtask-txt{
    margin: 0;
}
.category-box,.task-box,.start-box,.end-box,.repeat-box{
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 8px 0px;
    width:100%
}
.time-box{
    display: flex;
    gap: 8px;
    justify-content: space-between;
}
.category,.task,.time,.repeat{
    height: 44px;
    border-radius: 8px;
    outline: none;
    border: 1px solid gray;
    padding: 0 8px;
    font-size: 1.6rem;
    font-family: 'poppins',sans-serif;
}

.foot-container{
    width: 100%;
    position: fixed;
    bottom: 8px;
    left: 0;
    right: 0;
    padding: 0 20px;
    box-sizing: border-box;
    text-align: center;
}
label{
    font-weight: bold;
}
.add-btn{
    width: 100%;
    height: 44px;
    border-radius:8px ;
    outline: none;
    box-sizing: border-box;
    border: none;
    font-size: 1.6rem;
    font-family: 'poppins',sans-serif;
    background-color: blue;
    color: white;
}
.add-btn:hover{
    border: 1px solid blue;
    background-color: white;
    color: black;
    box-shadow: 0px  4px 10px 0px rgb(150, 150, 241);
}

.toast{
    background-color: rgb(33, 243, 33);
    text-align: center;
    padding: 2px 12px;
    font-size: 1.2rem;
    border-radius: 8px;
    display: inline-block;
    color: white;
    position: relative;
    bottom: 16px;
    transform: translateY(20px);
    opacity: 0;
    visibility: hidden;
    transition: 0.5s transform,opacity   ease-in-out ;
}

.toast-show{
    transform: translateY(0);
    opacity: 1;
    visibility: visible;
}